.attention-button {
  background: linear-gradient(270deg, #7D17FF 0%, #FF17A3 100%);
  color: white; /* Text color */
height: 30px;
width: 103px;
  font-size: 14px; /* Font size */
  font-weight: 600; /* Font weight */
  text-transform: uppercase; /* Uppercase text */
  border-radius: 4px; /* Full-rounded corners */

  border: none; /* Remove default border */
  cursor: pointer; /* Change cursor to pointer */
  outline: none; /* Remove outline */
}

